@import './mixin.scss';

.mainBody {
    width: 100%;
    display: flex;

    @include mobile() {
        flex-direction: column;
      }

}

.containForm {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    font-family: $font-stack;
    padding: 2% 10%;

    .titleText {

        border-left: 0.5rem solid $yellow;
        padding: 1rem 2rem;
        text-align: left;
    }

    .formContact {
        text-align: left;
        padding-top: 3%;
        position: relative;

        .form-label {
            left: 3%
        }

        .icon-tabler-user-circle {
            position: absolute;
            left: 2%;
            top: 14.1%;
        }
        .icon-tabler-mail-opened {
            position: absolute;
            left: 2%;
            top: 38%;
        }
    }
}

.containerRight {
    padding: 5%;

    #contactImg {
        width: 100%;
     }

     .contactText {
        padding: 10%;
     }
}
