@import './mixin.scss';

.mainBody {
    width: 100%;
    display: flex;

    @include mobile() {
        flex-direction: column;
      }

}

.containForm {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    font-family: $font-stack;
    padding: 2% 10%;

    .titleText {

        border-left: 0.5rem solid $yellow;
        padding: 1rem 2rem;
        text-align: left;
    }

    .formContact {
        text-align: left;
        padding-top: 3%;
        position: relative;

        #exampleFormControlInput2, #exampleFormControlInput1 {
            padding-left: 8%;
        }

        .form-label {
            left: 3%
        }

        .icon-tabler-user-circle {
            position: absolute;
            left: 2%;
            top: 14.1%;
        }
        .icon-tabler-mail-opened {
            position: absolute;
            left: 2%;
            top: 38%;
        }
        
            #btn-primary {
                --bs-btn-color: #ffe605;
                --bs-btn-bg:black;
                --bs-btn-border-color: $yellow;
                --bs-btn-hover-color: black;    
                --bs-btn-hover-bg: #ffe605;
                --bs-btn-hover-border-color: #ffe605;
                --bs-btn-focus-shadow-rgb: 49, 132, 253;
                --bs-btn-active-color: #fff;
                --bs-btn-active-bg: #ffe605;
                --bs-btn-active-border-color: #ffe605;
                --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                --bs-btn-disabled-color: #fff;
                --bs-btn-disabled-bg: $yellow;
                --bs-btn-disabled-border-color:$yellow;
              }
        
    }
}

.containerRight {
    padding: 5%;

    #contactImg {
        width: 100%;
     }

     .contactText {
        padding: 10%;
        margin-bottom: 2%;
     }
}
