.item_box{
    border: 1px solid black;

}

img{
    width: 30vw;
    height: 50vh;
}

.event{
    width: 13em;
    padding: 1em;
    background-color: black;
    color: white;
}
hr{
    width: 1.5em;
    
}
.icons_secc{
    display: flex;
    flex-direction: column;
    gap: 1em;

}