@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono:wght@300&display=swap');


@mixin flex( $dir , $wrap , $just , $align ){
    display: flex;
    flex-flow: $dir $wrap;
    justify-content: $just;
    align-items: $align;
}

@mixin mobile(){
    @media screen and (max-width:480px) {
        @content
    }
}

@mixin tablet(){
    @media screen and (min-width: 1022px) {
      @content
    }
}

$font-stack: Roboto Mono;
$yellow: #FFE605;

